@import "tailwindcss";

:root {
  --color-primary: #2CA4AB;
  --background:  #ffffff;
  --foreground: #171717;
  --translation-font-size: 16px;
  --arabic-font-size: 28px;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-amiri: var(--font-amiri);
  --font-inter: var(--font-inter);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --arabic-font-size: var(--arabic-font-size);
  --translation-font-size: var(--translation-font-size);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
} */


.arabic-text {
  font-size: var(--arabic-font-size);
  text-align: right;
  line-height: 2;
}

.translation-text {
  font-size: var(--translation-font-size);
  line-height: 1.8;
}
