@import "tailwindcss";

:root {
  --color: #2CA4AB
  --background:  #ffffff;
  --foreground: #171717;
  --arabic-font: var(--font-amiri);
  --translation-font-size: 16px;
  --arabic-font-size: 28px;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.arabic-text {
  font-family: var(--arabic-font);
  font-size: var(--arabic-font-size);
}

.translation-text {
  font-family: var(--font-inter);
  font-size: var(--translation-font-size);
}
